.navbar {
    overflow: hidden;
    display: flex;
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    left: 0;

    z-index: 999;

  }
  .ant-menu-horizontal {
    width: 100%; /* or your desired width */
    z-index: 1; /* or higher than other elements if needed */
    position: fixed;
    display: flex;
    display: flex;
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
  }
/*  */